@import '../../../styles/variables.scss';

.error {
  padding: 2rem;
  text-align: center;
  background: lighten($danger, 45%);
  border: 1px solid lighten($danger, 30%);
  border-radius: $radius-lg;
  margin: 2rem 0;
}

.icon {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.message {
  color: $danger;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.retryBtn {
  padding: 0.5rem 1.5rem;
  background: $danger;
  color: $white;
  border: none;
  border-radius: $radius;
  cursor: pointer;
  font-weight: 500;
  transition: $transition;
  
  &:hover {
    background: darken($danger, 10%);
  }
}
