@import '../../../styles/variables.scss';

.fullPage {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.9);
  z-index: 9999;
}

.loader {
  border: 3px solid $border;
  border-top: 3px solid $primary;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}

.small {
  width: 20px;
  height: 20px;
  border-width: 2px;
}

.medium {
  width: 40px;
  height: 40px;
}

.large {
  width: 60px;
  height: 60px;
  border-width: 4px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
