@import '../../../styles/variables.scss';

.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex: 1;
  position: relative;
}

.main {
  flex: 1;
  padding: 2rem;
  margin-left: 280px;
  min-height: calc(100vh - 70px);
  
  @media (max-width: 1023px) {
    margin-left: 0;
  }
  
  @media (max-width: 640px) {
    padding: 1rem;
  }
}
